
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 120px;
}
/* Header styles */

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-links{
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
.nav-link{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner styles */
.banner-content{
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 4px;
}
.banner-image{
    width: 100%;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{

}
/* team and features style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
}
.quick{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 500;
}
.our{
    font-size: 2.8rem;
    font-weight: bold;
}
.feature{
    font-size: 2.8rem;
    font-weight: bold;
    color: #FF900E;
}
.features-description{
    color: #424242;
    margin-bottom: 30px;
}
/* Some facts relater style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border:1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.facts-description{
    max-width: 540px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 800;
}
/* sponsors related style */

.sponsors-title{
color: #131313;
font-size: 2.8rem;
font-weight: bold;
margin-bottom: 20px;
}
.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sponsor-description{
    color: #424242;
   
}
.logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.logo img{
    filter: grayscale(100%);
}
/* feature section style */
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
 
}
.feature-card{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;

}
.features{
    gap: 100px;
}
#experience-badge{
    padding: 45px 42px;
    border-radius: 8px;
    margin-top: -100px;
    margin-left: -100px;

}
#years{
    font-size: 4rem;
    font-weight: 700;
}
#experience{
    font-size: 1.5rem;
    font-weight: 500;
}

/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        gap:20px;
        justify-items: center;
    }
    .logo{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        justify-items: center;
    }
    .features{
        flex-direction: column;
    }
    .architect img{
        width: 100%;
    }
    #experience-badge{
        margin-top: 30px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
/* Medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px;
    }
    .logo{
       grid-template-columns: repeat(3, 1fr);
       gap: 50px;
    }
    #experience-badge{
        margin-top: 30px;
        margin-left: 0;
        margin-bottom: 0;
}
.facts-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
}